@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../node_modules/bootswatch-sass/darkly/variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../node_modules/bootswatch-sass/darkly/bootswatch";
@import "../node_modules/bootstrap-social/bootstrap-social.scss";
@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');

$fa-font-path: 'font-awesome';
@import "../node_modules/font-awesome/scss/font-awesome";

@import "./components/Game/_index";
@import "./components/Lobby/_index";

html, body, #root, #root > div, #root > div > div, #root > div > div > div {
  width: 100%;
  height: 100%;
}

#login-parent {
  position: relative;
  height: 100%;
  background: url("/static/lantern-background.jpg") no-repeat center center;
  background-size: 100% auto;
}
#login-child {
  padding: 7px;
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#login-text {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Jim Nightshade', cursive;
}

a[disabled] {
  pointer-events: none;
}


#github-link {
  border: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 5px
}