@import './_MonsterInfo';

#game {
	flex-direction: column;
	display: flex;
}
#game-board  {
	position: relative;
}
#game-board-wrapper {
	flex-grow: 1;
	position: relative;
	> div {
		height: 100%;
		width: 100%;
		position: absolute;
		text-align: center;
		> div {
			height: 100%;
			display: inline-block;
			> div {
				height: 100%;
				overflow: hidden;
				img.game-main-image {
					width: auto;
					height: 100%;
				}
			}
		}
	}
}
#game-board {
	padding-right: 10px;
	> div {
		position: relative;
	}
}
.game-board-grid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns:
					1fr 1fr 1fr 1fr 1fr
					1fr 1fr 1fr 1fr 1fr
					1fr 1fr 1fr 1fr 1fr
					1fr 1fr 1fr 1fr 1fr
					1fr 1fr;
	grid-template-rows:
					1fr 1fr 1fr 1fr 1fr
					1fr 1fr 1fr 1fr 1fr
					1fr 1fr 1fr 1fr 1fr
					1fr;

	.initialPlacement {
		background-color: lightblue;
		margin: 10%;
		cursor: pointer;
	}
	.white {
		background-color: white;
		border-radius: 50%;
		margin: 25%
	}
	.yellow {
		background-color: yellow;
		border-radius: 50%;
		margin: 25%
	}
	.green {
		background-color: green;
		border-radius: 50%;
		margin: 25%
	}
	.blue {
		background-color: blue;
		border-radius: 50%;
		margin: 25%
	}
	.monster {
		background-color: red;
		border-radius: 50%;
		margin: 15%
	}

	@for $x from 0 through 22 {
		.x-#{$x} {
			grid-column-start: $x + 1;
		}
		.size-2.x-#{$x} {
			grid-column-end: $x + 3;
		}
		.size-3.x-#{$x} {
			grid-column-end: $x + 4;
		}
	}

	@for $y from 0 through 16 {
		.y-#{$y} {
			grid-row-start: 16 - $y;
		}
		.size-2.y-#{$y} {
			grid-row-end: 16 - $y + 2;
		}
		.size-3.y-#{$y} {
			grid-row-end: 16 - $y + 3;
		}
	}
}
#game-character-card-wrapper {
	flex-grow: 0;
	> div {
		border: 1px solid black;
		border-radius: 20px 20px 0 0;
	}
}
#game-character-card-2 {
	background-color: #7B68EE;
}

#game-character-card-3 {
	background-color: #3CB371;
}

#game-character-card-4 {
	background-color: #DAA520;
}

#game-board-error {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(201, 201, 201, 0.6);

	div {
		position: absolute;
		display: inline-block;
		height: auto !important;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-weight: bold;
		font-size: 300%;
	}
}

#game-board-status-overlay {
	position: absolute !important;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;

	.game-board-grid {
		padding-right: 10px;
	}
}

#player-token-board-grid > div {
	position: relative;
	display: inline-block;
}

#player-token-board-tokens {
	position: absolute;
	padding: 1.5%;
	top: 1.8%;
	left: 5.5%;
	width: 85%;
	height: 50%;

	display: grid;
	grid-template-columns:
		1fr 1fr;
	grid-template-rows:
		1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	.tokened {
		// position: relative;
				//Uncomment these to help with alignment
		border-radius: 50%;
		background-color: green;
		margin: 2%;
	}
	.tokenedX {
		// position: relative;
		//Uncomment these to help with alignment
		border-radius: 50%;
		background-color: green;
		margin: 2%;
		left: 50%;
	}

	@for $x from 0 through 2 {
		.x-#{$x} {
			grid-column-start: 2 - $x;
		}
	}

	@for $y from 0 through 11 {
		.y-#{$y} {
			grid-row-start: $y;
		}
	}
}

#player-gear-grid > div {
	position: relative;
	display: inline-block;
}
#player-gear-grid-items {
	position: absolute;
	padding: 1.5%;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns:
		1fr 1fr 1fr;
	grid-template-rows:
		1fr 1fr 1fr;
	.geared {
		// position: relative;
		background-color: darkslategray;
		margin: 2%
	}

	@for $x from 0 through 3 {
		.x-#{$x} {
			grid-column-start: $x + 1;
		}
	}

	@for $y from 0 through 3 {
		.y-#{$y} {
			grid-row-start: 3 - $y;
		}
	}
}

.player-armor-board-values {
	position: absolute;
	width: 13%;
	height: 25%;
		//Uncomment these to help with alignment
	// border-radius: 50%;
	// background-color: green;
	// top: 0;
	left: 13%;
	// bottom: 10%;

	> div {
		position: absolute;
		top: 11%;
		left: 46%;
		transform: translate(-50%, -50%);
		font-size: 18vh;
	}

	$buff: 43%; //fine
	$diff: 26.7%; //+/- .1

	&.head {
		top: $buff;
	}

	&.body {
		top: $buff;
		left: $diff;
	}

	&.waist {
		top: $buff;
		left: $diff *1.515;
	}

	&.hand {
		top: $buff;
		left: $diff * 2.03;
	}

	&.foot {
		top: $buff;
		left: $diff * 2.55;
	}
}

.player-armor-wound-values {
	position: absolute;
	width: 4.25%;
	height: 10%;
	//Uncomment these to help with alignment
	// border-radius: 50%;
	// background-color: green;
	// top: -10%;
	left: 20%;

	> div {
		position: absolute;
		left: 30%;
		transform: translate(-50%, -50%);
		font-size: 6vh;
	}
	$wuff: 65.5%;
	$wiff: 29%;

	&.head {
		top: $wuff;
	}

	&.body-L {
		top: $wuff;
		left: $wiff;
	}
	&.body-H {
		top: $wuff;
		left: $wiff *1.165;
	}
	&.waist-L {
		top: $wuff;
		left: $wiff *1.480;
	}
	&.waist-H {
		top: $wuff;
		left: $wiff *1.645;
	}
	&.hand-L {
		top: $wuff;
		left: $wiff *1.955;
	}
	&.hand-H {
		top: $wuff;
		left: $wiff *2.12;
	}
	&.foot-L {
		top: $wuff;
		left: $wiff *2.43;
	}
	&.foot-H {
		top: $wuff;
		left: $wiff *2.595;
	}

}
