@import './_MonsterInfo';
@import './Character/_index';
@import './gameBoardOverlay/_PlayerDamage';
@import './gameBoardOverlay/_PlayerAttack';
@import './gameBoardOverlay/_MonsterPosition';
@import './gameBoardOverlay/_CriticalInjury';

#logout-button {
	position: absolute;
	left: 5px;
	bottom: 41px;
}
#game {
	flex-direction: column;
	display: flex;
	background: url("/static/faces-background.jpg") no-repeat;
	background-size: 100% auto;
}
#game-board  {
	position: relative;
}
#game-board-wrapper {
	flex-grow: 1;
	position: relative;
	> div {
		height: 100%;
		width: 100%;
		position: absolute;
		text-align: center;
		> div {
			height: 100%;
			display: inline-block;
			> div {
				height: 100%;
				overflow: hidden;
				img.game-main-image {
					width: auto;
					height: 100%;
				}
			}
		}
	}
}
#game-board {
	padding-right: 10px;
	> div {
		position: relative;
	}
}
.game-board-grid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns:
					1fr 1fr 1fr 1fr 1fr
					1fr 1fr 1fr 1fr 1fr
					1fr 1fr 1fr 1fr 1fr
					1fr 1fr 1fr 1fr 1fr
					1fr 1fr;
	grid-template-rows:
					1fr 1fr 1fr 1fr 1fr
					1fr 1fr 1fr 1fr 1fr
					1fr 1fr 1fr 1fr 1fr
					1fr;

	.initialPlacement {
		background-color: lightblue;
		margin: 10%;
		cursor: pointer;
	}
	.knocked-down {
		&:after {
			content: '\21B7';
		}
	}
	// .white {
	// 	background-color: white;
	// 	border-radius: 50%;
	// 	margin: 25%;

	// 	&.knocked-down {
	// 		&:after {
	// 			color: black;
	// 		}
	// 	}
	// }
	// .yellow {
	// 	background-color: yellow;
	// 	border-radius: 50%;
	// 	margin: 25%;

	// 	&.knocked-down {
	// 		&:after {
	// 			color: black;
	// 		}
	// 	}
	// }
	.green img {
		border: 2px solid green;
	}
	.yellow img {
		border: 2px solid yellow;
	}
	.white img {
		border: 2px solid white;
	}
	.blue img {
		border: 2px solid blue;
	}
	.character {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 15%;
		img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}
	}
	// .blue {
	// 	background-color: blue;
	// 	border-radius: 50%;
	// 	margin: 25%
	// }
	.monster {
		background-color: red;
		border-radius: 50%;
		margin: 15%;

		&:after {
			font-size: 45px;
		}

		&.direction-N {
			&:after {
				content: '\2191';
			}
		}

		&.direction-S {
			&:after {
				content: '\2193';
			}
		}

		&.direction-E {
			&:after {
				content: '\2192';
			}
		}

		&.direction-W {
			&:after {
				content: '\2190';
			}
		}
	}

	@for $x from 0 through 22 {
		.x-#{$x} {
			grid-column-start: $x + 1;
		}
		.size-2.x-#{$x} {
			grid-column-end: $x + 3;
		}
		.size-3.x-#{$x} {
			grid-column-end: $x + 4;
		}
	}

	@for $y from 0 through 16 {
		.y-#{$y} {
			grid-row-start: 16 - $y;
		}
		.size-2.y-#{$y} {
			grid-row-end: 16 - $y + 2;
		}
		.size-3.y-#{$y} {
			grid-row-end: 16 - $y + 3;
		}
	}
}

.dice {
	height: 10vh;
	width: 10vh;
	background-size: 100% auto;
	display: inline-block;
	background-repeat: no-repeat;
	margin: 3px;

	@for $i from 1 through 10 {
		&.dice-#{$i} {
			background-image: url("/static/dice/" + $i + ".png");
		}
	}
	&.dice-auto, &.dice-auto-crit {
		background-image: url("/static/dice/auto.png");
	}
	@for $i from 1 through 6 {
		&.wound-#{$i} {
			background-image: url("/static/wound-dice/" + $i + ".png");
		}
	}
}
