#game-monster {
	img {
		width: 100%;
	}
}
#game-board {
	img {
		width: 100%;
	}
}
#game-board-wrapper {
	padding: 0 220px 0 220px;
}
#game-character-card-wrapper {
	> div {
		border: 1px solid black;
		border-radius: 20px 20px 0 0;
	}
}
#game-character-card-2 {
	background-color: #7B68EE;
}

#game-character-card-3 {
	background-color: #3CB371;
}

#game-character-card-4 {
	background-color: #DAA520;
}
#player-gear-grid {
	// position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
	display: grid;
	grid-template-columns:
		1fr 1fr 1fr;
	grid-template-rows:
		1fr 1fr 1fr;
	.geared {
	background-color: black;
	border-radius: 10%;
	margin: 15%
	}

	@for $x from 0 through 3 {
		.x-#{$x} {
			grid-column-start: $x + 1;
		}
		.x-#{$x} {
			grid-column-end: $x + 3;
		}
	}

	@for $y from 0 through 3 {
		.y-#{$y} {
			grid-row-start: 3 - $y;
		}
		.y-#{$y} {
			grid-row-end: 3 - $y + 2;
		}
	}
}

#player-armor-gear-wrapper {

}