@import "./Card/_index";


#game-character-card-wrapper {
  flex-grow: 0;
  min-width: 80%;

  > div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    position: relative;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
  }
}

#game-character-card-1 {
  background: url("/static/char-white.jpg");
  background-color: #0e0e0e;
}

#game-character-card-2 {
  background: url("/static/char-blue.jpg");
  background-color: #03171d;
}

#game-character-card-3 {
   background: url("/static/char-green.jpg");
  background-color: #0c1405;
}

#game-character-card-4 {
  background: url("/static/char-yellow.jpg");
  background-color: #151402;
}
@keyframes game-board-grey-over {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.game-board-grey-over {
	animation-duration: 0.25s;
	animation-name: game-board-grey-over;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 10px;
  z-index: 10;
  background-color: rgba(100, 100, 100, 0.6);

  > div {
    position: absolute;
    display: inline-block;
    height: auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 300%;
  }
}

#game-board-status-overlay {
  position: absolute !important;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  .game-board-grid {
    padding-right: 10px;
  }
}

.game-character-collapsed {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
	height: 125px;
	overflow: hidden;

  @media (min-width: 768px) {
    .col-sm-12 {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  .attack-buttons {
		height: 125px;
		overflow: auto;
    div {
      padding-left: 3px;
      padding-right: 3px;
    }
    button {
      width: 100%;
      padding: 1px 0;
      margin-bottom: 6px;
    }
  }
}

.game-character-monster-controller {
  height: 1.5vh;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.dead-character {
	text-align: center;
	img {
		width: 30%;
	}
}
