.character-card-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: green;
}


#player-token-board-grid > div {
  position: relative;
  display: inline-block;
}

#player-token-board-tokens {
  position: absolute;
  padding: 1.5%;
  top: 1.8%;
  left: 5.5%;
  width: 85%;
  height: 50%;

  display: grid;
  grid-template-columns:
          1fr 1fr;
  grid-template-rows:
          1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  .tokened {
    // position: relative;
    //Uncomment these to help with alignment
    border-radius: 50%;
    background-color: green;
    margin: 2%;
  }
  .tokenedX {
    // position: relative;
    //Uncomment these to help with alignment
    border-radius: 50%;
    background-color: green;
    margin: 2%;
    left: 50%;
  }

  @for $x from 0 through 2 {
    .x-#{$x} {
      grid-column-start: 2 - $x;
    }
  }

  @for $y from 0 through 11 {
    .y-#{$y} {
      grid-row-start: $y;
    }
  }
}

#player-gear-grid > div {
  position: relative;
  display: inline-block;
}
#player-gear-grid-items {
  position: absolute;
  padding: 1.5%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:
          1fr 1fr 1fr;
  grid-template-rows:
          1fr 1fr 1fr;
  .geared {
    // position: relative;
    background-color: darkslategray;
    margin: 2%
  }

  @for $x from 0 through 3 {
    .x-#{$x} {
      grid-column-start: $x + 1;
    }
  }

  @for $y from 0 through 3 {
    .y-#{$y} {
      grid-row-start: 3 - $y;
    }
  }
}

.player-armor-board-values {
  position: absolute;
  width: 13%;
  height: 25%;
  //Uncomment these to help with alignment
  // border-radius: 50%;
  // background-color: green;
  // top: 0;
  left: 13%;
  // bottom: 10%;

  > div {
    position: absolute;
    top: 11%;
    left: 46%;
    transform: translate(-50%, -50%);
    font-size: 18vh;
  }

  $buff: 43%; //fine
  $diff: 26.7%; //+/- .1

  &.head {
    top: $buff;
  }

  &.body {
    top: $buff;
    left: $diff;
  }

  &.waist {
    top: $buff;
    left: $diff *1.515;
  }

  &.hand {
    top: $buff;
    left: $diff * 2.03;
  }

  &.foot {
    top: $buff;
    left: $diff * 2.55;
  }
}

.player-armor-wound-values {
  position: absolute;
  width: 4.25%;
  height: 10%;
  //Uncomment these to help with alignment
  // border-radius: 50%;
  // background-color: green;
  // top: -10%;
  left: 20%;

  > div {
    position: absolute;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
  }
  $wuff: 65.5%;
  $wiff: 29%;

  &.head {
    top: $wuff;
  }

  &.body-L {
    top: $wuff;
    left: $wiff;
  }
  &.body-H {
    top: $wuff;
    left: $wiff *1.165;
  }
  &.waist-L {
    top: $wuff;
    left: $wiff *1.480;
  }
  &.waist-H {
    top: $wuff;
    left: $wiff *1.645;
  }
  &.hand-L {
    top: $wuff;
    left: $wiff *1.955;
  }
  &.hand-H {
    top: $wuff;
    left: $wiff *2.12;
  }
  &.foot-L {
    top: $wuff;
    left: $wiff *2.43;
  }
  &.foot-H {
    top: $wuff;
    left: $wiff *2.595;
  }

}
